@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

:root {
    --primary-color: rgb(35, 171, 212);
    --primary-color-darker: rgb(17, 125, 158);
    --secundary-color: rgb(25, 117, 145);
}

body {
    background-color: rgb(0, 0, 0);
}

header{
    background-color: rgb(11, 12, 12);
    display: flex;
    justify-content: end;
}

header > div {
    display: flex;
    color: aliceblue;
    height: 25px;
    margin: 10px 10px 10px;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    border-radius: 3px;
}

header > div > a {
    font-family: "Play", sans-serif;
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

header > .linkedIn {
    margin-right: 50px;
}

header > div > a:hover {
    color: var(--secundary-color);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main > section.apresentacao {
    background-color: rgb(11, 12, 12);
    height: 100vh;
}

main > section {
    color: rgb(35, 171, 212);
}

main > section.apresentacao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 15%;
}

main> section.apresentacao > h1, h2 {
    font-style: normal;
    font-size: 2.7em;
    font-family: "Play", sans-serif;
}

main > section > h2 {
    color: rgba(255, 255, 255, 0.575);
    font-style: italic;
}

main > section > p {
    font-family: "Play", sans-serif;
    font-size: 1.5em;
    margin-top: 100px;
    max-width: 400px;
}

main > section.projetos {
    flex-direction: column;
    background-color: rgb(11, 12, 12);
    height: 100vh;
    padding-left: 15%;  
}

main > section.projetos > div.container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    max-width: 300px;
}   

main > section.projetos > h2 {
    font-family: "Play", sans-serif;
    margin-top: 60px;
    color: rgba(255, 255, 255, 0.575);
    
}

main > section.projetos div.container > div.projetoImc, div.projetoTimer, div.projetoLogin {
    background-color: #1f63b783;
    color: white;
    padding: 15px;
    border: 4px solid var(--primary-color-darker);
    border-radius: 10px;
    font-size: 1.1em;
    margin-top: 70px;
    max-width: 300px;
}

section.projetos > div.container > div.projetoImc > h3, div.projetoTimer > h3, div.projetoLogin > h3 {
    color: aqua;
    font-family: "Play", sans-serif;
    margin-bottom: 15px;
}

section.projetos > div.projetoImc > p, div.projetoTimer > p, div.projetoLogin > p {
    text-align: justify;
}

section.projetos > div.container > div.projetoImc> img, div.projetoTimer > img, div.projetoLogin > img {
    max-width: 300px;
    margin-top: 20px;
    border: 2px solid white;
    border-radius: 5px;
}

section.projetos > div.container > div.projetoImc > a, div.projetoTimer > a, div.projetoLogin > a {
    color: whitesmoke;
}

section.projetos > div.container > div.projetoImc > a:hover, div.projetoTimer > a:hover, div.projetoLogin > a:hover {
    color: var(--primary-color-darker);
}

.light {
    position: absolute;
    box-shadow: 10px 10px 1000px 100px rgba(17, 125, 158, 0.37);
}


