@charset 'UTF-8';

* {
    font-family: Arial, Helvetica, sans-serif;

    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(19, 19, 19);
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}

main > section.apresentacao {
    background-color: rgb(14, 17, 17);
    height: 100vh;
}

main > section > h1,h2,p {
    color: white;
    margin-left: 30px;
}

main > section > p {
    margin-top: 20px;
}

main > section.projetos {
    background-color: rgb(79, 130, 172);
    ;
    height: 100vh;
}

main > section.projetos > h2 {
    color: black;
}

header{
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

header > div {
    background-color: lightblue;
    color: aliceblue;
    text-decoration: none;
    width: 70px;
    height: 25px;
    margin: 10px;
    
}

header > div:hover {
    background-color: rgb(110, 110, 238);
}
